{
  "openapi": "3.0.0",
  "info": {
    "title": "HOW DO I LOOK API",
    "version": "1.0.0",
    "description": "HOW DO I LOOK API 문서"
  },
  "servers": [
    {
      "url": "https://api.nb02-howdoilook.com",
      "description": "API server"
    }
  ],
  "paths": {
    "/styles": {
  "post": {
    "tags": ["스타일"],
    "summary": "스타일 등록",
    "description": "사용자가 스타일을 작성하여 등록합니다.",
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "nickname": { "type": "string" },
              "title": { "type": "string" },
              "content": { "type": "string" },
              "password": { "type": "string" },
              "categories": {
                "type": "object",
                "properties": {
                  "top": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "brand": { "type": "string" },
                      "price": { "type": "number" }
                    }
                  },
                  "bottom": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "brand": { "type": "string" },
                      "price": { "type": "number" }
                    }
                  },
                  "outer": { "type": "object" },
                  "dress": { "type": "object" },
                  "shoes": { "type": "object" },
                  "bag": { "type": "object" },
                  "accessory": { "type": "object" }
                }
              },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "imageUrls": {
                "type": "array",
                "items": { "type": "string" }
              }
            },
            "required": ["nickname", "title", "content", "password", "categories", "tags", "imageUrls"]
          }
        }
      }
    },
    "responses": {
      "201": {
        "description": "성공적으로 생성됨",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "title": { "type": "string" },
                "content": { "type": "string" },
                "viewCount": { "type": "integer" },
                "curationCount": { "type": "integer" },
                "createdAt": { "type": "string", "format": "date-time" },
                "categories": {
                  "type": "object",
                  "properties": {
                    "top": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    },
                    "bottom": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    }
                  }
                },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "imageUrls": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string", "example": "잘못된 요청입니다" }
              }
            }
          }
        }
      }
    }
  },
  "get": {
    "tags": ["스타일"],
    "summary": "스타일 목록 조회",
    "description": "스타일 목록을 페이지네이션, 정렬, 검색 조건과 함께 조회합니다.",
    "parameters": [
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "현재 페이지 번호"
      },
      {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "페이지당 아이템 수"
      },
      {
        "name": "sortBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["latest", "mostViewed", "mostCurated"]
        },
        "description": "정렬 기준"
      },
      {
        "name": "searchBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["nickname", "title", "content", "tag"]
        },
        "description": "검색 기준"
      },
      {
        "name": "keyword",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "검색어"
      },
      {
        "name": "tag",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "태그 필터"
      }
    ],
    "responses": {
      "200": {
        "description": "성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "currentPage": { "type": "integer" },
                "totalPages": { "type": "integer" },
                "totalItemCount": { "type": "integer" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "thumbnail": { "type": "string" },
                      "nickname": { "type": "string" },
                      "title": { "type": "string" },
                      "tags": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "categories": {
                        "type": "object",
                        "properties": {
                          "top": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "brand": { "type": "string" },
                              "price": { "type": "number" }
                            }
                          },
                          "bottom": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "brand": { "type": "string" },
                              "price": { "type": "number" }
                            }
                          }
                        }
                      },
                      "content": { "type": "string" },
                      "viewCount": { "type": "integer" },
                      "curationCount": { "type": "integer" },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/styles/{styleId}": {
  "put": {
    "tags": ["스타일"],
    "summary": "스타일 수정",
    "description": "스타일 ID에 해당하는 스타일을 수정합니다.",
    "parameters": [
      {
        "name": "styleId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "수정할 스타일의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "nickname": { "type": "string" },
              "title": { "type": "string" },
              "content": { "type": "string" },
              "password": { "type": "string" },
              "categories": {
                "type": "object",
                "properties": {
                  "top": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "brand": { "type": "string" },
                      "price": { "type": "number" }
                    }
                  },
                  "bottom": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "brand": { "type": "string" },
                      "price": { "type": "number" }
                    }
                  },
                  "outer": { "type": "object" },
                  "dress": { "type": "object" },
                  "shoes": { "type": "object" },
                  "bag": { "type": "object" },
                  "accessory": { "type": "object" }
                }
              },
              "tags": {
                "type": "array",
                "items": { "type": "string" }
              },
              "imageUrls": {
                "type": "array",
                "items": { "type": "string" }
              }
            },
            "required": ["nickname", "title", "content", "password", "categories", "tags", "imageUrls"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "수정 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "title": { "type": "string" },
                "content": { "type": "string" },
                "viewCount": { "type": "integer" },
                "curationCount": { "type": "integer" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "categories": {
                  "type": "object",
                  "properties": {
                    "top": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    },
                    "bottom": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    }
                  }
                },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "imageUrls": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  },
  "delete": {
    "tags": ["스타일"],
    "summary": "스타일 삭제",
    "description": "스타일 ID와 비밀번호를 이용하여 해당 스타일을 삭제합니다.",
    "parameters": [
      {
        "name": "styleId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "삭제할 스타일의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "password": { "type": "string" }
            },
            "required": ["password"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "삭제 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "스타일 삭제 성공"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  },
  "get": {
    "tags": ["스타일"],
    "summary": "스타일 상세 조회",
    "description": "지정한 ID의 스타일 정보를 반환합니다.",
    "parameters": [
      {
        "name": "styleId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "조회할 스타일의 ID"
      }
    ],
    "responses": {
      "200": {
        "description": "조회 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "title": { "type": "string" },
                "content": { "type": "string" },
                "viewCount": { "type": "integer" },
                "curationCount": { "type": "integer" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                },
                "categories": {
                  "type": "object",
                  "properties": {
                    "top": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    },
                    "bottom": {
                      "type": "object",
                      "properties": {
                        "name": { "type": "string" },
                        "brand": { "type": "string" },
                        "price": { "type": "number" }
                      }
                    }
                  }
                },
                "tags": {
                  "type": "array",
                  "items": { "type": "string" }
                },
                "imageUrls": {
                  "type": "array",
                  "items": { "type": "string" }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/ranking": {
  "get": {
    "tags": ["스타일"],
    "summary": "스타일 랭킹 조회",
    "description": "랭킹 기준에 따라 스타일을 조회합니다.",
    "parameters": [
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "현재 페이지 번호"
      },
      {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "페이지당 아이템 수"
      },
      {
        "name": "rankBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["total", "trendy", "personality", "practicality", "costEffectiveness"]
        },
        "description": "랭킹 기준"
      }
    ],
    "responses": {
      "200": {
        "description": "성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "currentPage": { "type": "integer" },
                "totalPages": { "type": "integer" },
                "totalItemCount": { "type": "integer" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "thumbnail": { "type": "string" },
                      "nickname": { "type": "string" },
                      "title": { "type": "string" },
                      "tags": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "categories": {
                        "type": "object",
                        "properties": {
                          "top": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "brand": { "type": "string" },
                              "price": { "type": "number" }
                            }
                          }
                        }
                      },
                      "viewCount": { "type": "integer" },
                      "curationCount": { "type": "integer" },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "ranking": { "type": "integer" },
                      "rating": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
},
"/styles/{styleId}/curations": {
  "post": {
    "tags": ["큐레이팅"],
    "summary": "스타일 큐레이션 등록",
    "description": "스타일에 대한 큐레이션(평가 및 댓글)을 등록합니다.",
    "parameters": [
      {
        "name": "styleId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "큐레이션을 등록할 스타일의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "nickname": { "type": "string" },
              "content": { "type": "string" },
              "password": { "type": "string" },
              "trendy": { "type": "integer" },
              "personality": { "type": "integer" },
              "practicality": { "type": "integer" },
              "costEffectiveness": { "type": "integer" }
            },
            "required": [
              "nickname",
              "content",
              "password",
              "trendy",
              "personality",
              "practicality",
              "costEffectiveness"
            ]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "큐레이션 등록 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "content": { "type": "string" },
                "trendy": { "type": "integer" },
                "personality": { "type": "integer" },
                "practicality": { "type": "integer" },
                "costEffectiveness": { "type": "integer" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      }
    }
  },
  "get": {
    "tags": ["큐레이팅"],
    "summary": "스타일 큐레이션 목록 조회",
    "description": "스타일 ID에 해당하는 큐레이션 목록을 검색 조건과 함께 조회합니다.",
    "parameters": [
      {
        "name": "styleId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "큐레이션을 조회할 스타일 ID"
      },
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "현재 페이지 번호"
      },
      {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "페이지당 아이템 수"
      },
      {
        "name": "searchBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["nickname", "content"]
        },
        "description": "검색 기준"
      },
      {
        "name": "keyword",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "검색어"
      }
    ],
    "responses": {
      "200": {
        "description": "조회 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "currentPage": { "type": "integer" },
                "totalPages": { "type": "integer" },
                "totalItemCount": { "type": "integer" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "nickname": { "type": "string" },
                      "content": { "type": "string" },
                      "trendy": { "type": "integer" },
                      "personality": { "type": "integer" },
                      "practicality": { "type": "integer" },
                      "costEffectiveness": { "type": "integer" },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "comment": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "nickname": { "type": "string" },
                          "content": { "type": "string" },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/curations/{curationId}": {
  "put": {
    "tags": ["큐레이팅"],
    "summary": "큐레이션 수정",
    "description": "큐레이션 ID와 비밀번호를 사용하여 큐레이션을 수정합니다.",
    "parameters": [
      {
        "name": "curationId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "수정할 큐레이션의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "nickname": { "type": "string" },
              "content": { "type": "string" },
              "password": { "type": "string" },
              "trendy": { "type": "integer" },
              "personality": { "type": "integer" },
              "practicality": { "type": "integer" },
              "costEffectiveness": { "type": "integer" }
            },
            "required": [
              "nickname",
              "content",
              "password",
              "trendy",
              "personality",
              "practicality",
              "costEffectiveness"
            ]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "큐레이션 수정 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "content": { "type": "string" },
                "trendy": { "type": "integer" },
                "personality": { "type": "integer" },
                "practicality": { "type": "integer" },
                "costEffectiveness": { "type": "integer" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  },
  "delete": {
    "tags": ["큐레이팅"],
    "summary": "큐레이션 삭제",
    "description": "큐레이션 ID와 비밀번호를 사용하여 큐레이션을 삭제합니다.",
    "parameters": [
      {
        "name": "curationId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "삭제할 큐레이션의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "password": { "type": "string" }
            },
            "required": ["password"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "큐레이션 삭제 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "큐레이팅 삭제 성공"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/curations/{curationId}/comments": {
  "post": {
    "tags": ["답글"],
    "summary": "큐레이션 댓글 등록",
    "description": "특정 큐레이션에 답글을 등록합니다.",
    "parameters": [
      {
        "name": "curationId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "댓글을 달 큐레이션의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "content": { "type": "string" },
              "password": { "type": "string" }
            },
            "required": ["content", "password"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "댓글 등록 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "content": { "type": "string" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/comments/{commentId}": {
  "put": {
    "tags": ["답글"],
    "summary": "답글 수정",
    "description": "댓글 ID와 비밀번호를 통해 답글을 수정합니다.",
    "parameters": [
      {
        "name": "commentId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "수정할 답글의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "content": { "type": "string" },
              "password": { "type": "string" }
            },
            "required": ["content", "password"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "답글 수정 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "nickname": { "type": "string" },
                "content": { "type": "string" },
                "createdAt": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  },
  "delete": {
    "tags": ["답글"],
    "summary": "답글 삭제",
    "description": "댓글 ID와 비밀번호를 사용하여 답글을 삭제합니다.",
    "parameters": [
      {
        "name": "commentId",
        "in": "path",
        "required": true,
        "schema": { "type": "integer" },
        "description": "삭제할 답글의 ID"
      }
    ],
    "requestBody": {
      "required": true,
      "content": {
        "application/json": {
          "schema": {
            "type": "object",
            "properties": {
              "password": { "type": "string" }
            },
            "required": ["password"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "답글 삭제 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "답글 삭제 성공"
                }
              }
            }
          }
        }
      },
      "400": {
        "description": "잘못된 요청입니다",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "잘못된 요청입니다"
                }
              }
            }
          }
        }
      },
      "403": {
        "description": "비밀번호 오류",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "비밀번호가 틀렸습니다"
                }
              }
            }
          }
        }
      },
      "404": {
        "description": "리소스를 찾을 수 없음",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "존재하지 않습니다"
                }
              }
            }
          }
        }
      }
    }
  }
},
    "/tags": {
  "get": {
    "tags": ["태그"],
    "summary": "인기 태그 목록 조회",
    "description": "태그 목록을 반환합니다.",
    "responses": {
      "200": {
        "description": "성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "tags": {
                  "type": "array",
                  "items": { "type": "string" },
                  "example": ["캐주얼", "여름"]
                }
              },
              "required": ["tags"]
            }
          }
        }
      }
    }
  }
},
    "/images": {
  "post": {
    "tags": ["이미지"],
    "summary": "이미지 업로드",
    "description": "사용자로부터 이미지를 업로드 받아 이미지 URL을 반환합니다.",
    "requestBody": {
      "required": true,
      "content": {
        "multipart/form-data": {
          "schema": {
            "type": "object",
            "properties": {
              "image": {
                "type": "string",
                "format": "binary",
                "description": "업로드할 이미지 파일"
              }
            },
            "required": ["image"]
          }
        }
      }
    },
    "responses": {
      "200": {
        "description": "업로드 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "imageUrl": {
                  "type": "string",
                  "example": "https://example.com/image.jpg"
                }
              }
            }
          }
        }
      }
    }
  }
},
"/logs": {
  "get": {
    "tags": ["로그"],
    "summary": "로그 목록 조회",
    "description": "서버에 기록된 요청 로그 목록을 페이징, 정렬, 검색 조건과 함께 조회합니다.",
    "parameters": [
      {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "현재 페이지 번호"
      },
      {
        "name": "pageSize",
        "in": "query",
        "required": false,
        "schema": { "type": "integer" },
        "description": "페이지당 아이템 수"
      },
      {
        "name": "sortBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["latest", "oldest"]
        },
        "description": "정렬 기준"
      },
      {
        "name": "searchBy",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["ip", "url", "method", "statusCode", "message"]
        },
        "description": "검색 기준"
      },
      {
        "name": "keyword",
        "in": "query",
        "required": false,
        "schema": { "type": "string" },
        "description": "검색어"
      }
    ],
    "responses": {
      "200": {
        "description": "조회 성공",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "totalItemCount": { "type": "integer" },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "integer" },
                      "ip": { "type": "string" },
                      "url": { "type": "string" },
                      "method": { "type": "string" },
                      "statusCode": { "type": "string" },
                      "message": { "type": "string" },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
},
"/": {
  "get": {
    "tags": ["헬스체크"],
    "summary": "서버 상태 확인",
    "description": "API 서버의 상태와 업타임을 반환합니다.",
    "responses": {
      "200": {
        "description": "서버 정상 응답",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "example": "OK"
                },
                "uptime": {
                  "type": "number",
                  "description": "서버가 실행 중인 시간 (초)"
                },
                "timestamp": {
                  "type": "string",
                  "format": "date-time",
                  "description": "현재 시각 (ISO 8601)"
                }
              },
              "required": ["status", "uptime", "timestamp"]
            }
          }
        }
      }
    }
  }
}
  }
}